*{
    margin: 0;
    padding: 0;
}

.container {
    
    background-color: rgb(197, 193, 194);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 470px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
}
.content{
    border: 1px solid rgb(12, 13, 15);
    width: 87%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input{
    border: none;
    width: 80%;
    font-size: 17px;
    padding: 17px;
    outline: none;
}

.btn{
    border: none;
    font-size: 17px;
    padding: 16px 16px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    background-color: blue;
    margin-right: 5px;
}

#shorten_link{
    pointer-events: none;
}
